<div style="position: relative;">
  <div>
    <div
      class="block-30 item"
      style="background-image: url('{{.imageUrl}}')"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-7">
            <h2 class="heading">{{.title}}</h2>
            <div>
              {{ if .subtitle }}
              <p class="white">
                {{.subtitle}}
              </p>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
