<nav
      class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light"
      id="ftco-navbar"
    >
      <div class="container">
        <a class="navbar-brand" href="index.html">
          Fundación Educación Y Salud
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#ftco-nav"
          aria-controls="ftco-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a href="index.html" class="nav-link">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Sobre Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Ubicación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
