<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		Fundación Educación Y Salud
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/" class="pa3 no-underline db">Inicio</a></li>

		<li><a href="/" class="pa3 no-underline db">Sobre Nosotros</a></li>

		<li><a href="/" class="pa3 no-underline db">Ubicación</a></li>

		<!-- <li><a href="/products" class="pa3 no-underline db">Products</a></li>

		<li><a href="/values" class="pa3 no-underline db">Values</a></li> -->

		<li><a href="/post" class="pa3 no-underline db">Blog</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contacto</a></li>
	</ul>

</nav>
