.navbar {
    border: none !important;
    border-bottom-color: transparent !important;
}

.ftco-navbar-light {
    background: transparent !important;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    top: 10px;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: #f0f0f0;
    opacity: 1 !important;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
    color: #fff;
}

.ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator {
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
}

.ftco-navbar-light .navbar-nav > .nav-item.ftco-seperator:before {
    position: absolute;
    content: "";
    top: 10px;
    bottom: 10px;
    left: 0;
    width: 2px;
    background: rgba(255, 255, 255, 0.05);
}

.ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    padding-left: 0;
    color: #fff;
}

.ftco-navbar-light .navbar-nav > .nav-item.cta > a span {
    border: 2px solid #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
}

.ftco-navbar-light .navbar-nav > .nav-item.cta.cta-colored span {
    border-color: #79ccab;
}

.ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #fff;
    position: relative;
}

.ftco-navbar-light .navbar-nav > .nav-item.active > a:before {
    content: "";
    height: 2px;
    background: #fff;
    left: 20px;
    right: 20px;
    position: absolute;
    bottom: 20px;
}

.ftco-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.ftco-navbar-light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: #fff !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.ftco-navbar-light.scrolled .nav-item.active > a {
    color: #79ccab !important;
}

.ftco-navbar-light.scrolled .nav-item.active > a:before {
    display: none;
}

.ftco-navbar-light.scrolled .navbar-toggler {
    border: none;
    color: rgba(0, 0, 0, 0.5) !important;
    border-color: rgba(0, 0, 0, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.ftco-navbar-light.scrolled .nav-link {
    padding-top: 0.9rem !important;
    padding-bottom: 0.9rem !important;
    color: #000 !important;
}

.ftco-navbar-light.scrolled .nav-link.active {
    color: #79ccab !important;
}

.ftco-navbar-light.scrolled.awake {
    margin-top: 0px;
    transition: 0.3s all ease-out;
}

.ftco-navbar-light.scrolled.sleep {
    transition: 0.3s all ease-out;
}

.ftco-navbar-light.scrolled .navbar-brand {
    color: #000;
}